@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Event Manager!</h1>
    <p><a asp-controller="Events" asp-action="AllEvents">All Events</a></p>
</div>